<phpunit bootstrap="bootstrap.php" colors="true">
    <php>
        <ini name="memory_limit" value="-1" />
    </php>
    <testsuites>
        <testsuite>
            <directory>unit/classes</directory>
            <directory>integration/cli</directory>
        </testsuite>
    </testsuites>
</phpunit>
